<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= @title || "Admin-登陆画面" %></title>

    <%=     stylesheet_link_tag 'admin' %>
      <%#= stylesheet_link_tag :admin  %>
  </head>

  <body class="LoginBg">
    <h1 class="logo"><img src="/images/admin/logo.png" alt="Yamaha"/></h1>
    <%- unless flash[:error].blank? %>
      <p class="ErrorBox"><strong>错误:</strong><%= flash[:error] %></p>
    <%- end %>
    <%= yield %>
  </body>
</html>