<div class="BodyContents">
  <div class="TitleArea">
    <h2><%= t('labels.manager', :model => Administrator.model_name.human) %></h2>
  </div>
  <!--  <br class="clear" />-->
  <div class="poststuff">
<%= render :partial => '/admin/administrators/form', :locals => {:path => admin_administrators_path} %>
</div>
</div>