<div class="BodyContents">
  <div class="TitleArea">
    <h2><%= t('labels.edit_manager' ,:model =>  controller_name.classify.constantize.model_name.human )   %></h2>
  </div>
  <!--  <br class="clear" />-->
  <div class="poststuff">
  <%#= render :partial => '/admin/users/form', :locals => {:path => admin_user_path(@user)} %>
     <%= render :partial => "/admin/#{controller_name}/form" ,:locals=>{:path=>eval("admin_#{controller_name.singularize}_path(@#{controller_name.singularize})")} %>
</div>
</div>
